@charset "utf-8";
@font-face{
    font-family: dezire;
    src: url(Dezire.ttf);
}
@font-face{
    font-family: ka1;
    src: url(ka1.ttf);
}
@font-face{
    font-family: kg;
    src: url(KG.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(44, 78, 230);
     }

header{
    margin-bottom: 1%;
    padding: 5px;
    background-color: aqua;
}
header img{
    height: 100px;
    width: 100px; 
    
}
span{
    color: #2600ff;
}
h1{
 
    text-align: center;
    font-family: dezire;
    src: url(Dezire.ttf);
    font-size: 50px;
   
   }
button{
    font-size: 17px;
    font-family:ka1 ;
    font-weight: 800;
    background-color: rgb(250, 253, 252);
    border-radius: 100px;
    border: 50px;
    padding: 10px 60px;
    cursor: pointer;
}

h2{
    margin-top: 0;
    font-size: 25px;
    font-family: ka1;
    animation-duration: 10s;
    animation-name: p;
    color: rgb(13, 14, 13);
    background: #fffffe;
    border-radius: 20px;
   }
p img{
    height: 50px;
    width: 50px;
}
p{
    font-size: 25px;
    animation-duration: 13s;
    animation-name: p;
    color: rgb(238, 232, 232);
}
h3{
    margin-top: 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    animation-duration: 10s;
    animation-name: p;
    color: aqua;
   }  

img{
    height: 400px;
    width: 400px;
    border-radius: 300px;

}

.botao{
    border-radius: 100px;
    background-color: #4606f5;
}

.botao img{
width: 50px;
height: 50px;
}
footer img{
    height: 50px;
    width: 50px;
}
footer{
    text-align: center;
      position: relative;
      margin-top: 10vh;
      transform: translate(-50%);
      margin-left: 50%;
      color: rgb(0, 0, 0);
      src: url(super.ttf);
      font-size: 30px;  
      background: #06f5e9;
      padding: 30px;
      width: 100%;
      justify-content: space-between;
      font-family: kg;
      color: #0a0a0a;
      font-size: 40px;
    
  }

  
@keyframes p{
    from{
        margin-left: 100%;
        width: 300%;
  
        
    }
    to{
        margin-left: 0%;
        width: 100%;

    }
}

@media screen and (max-width: 520px) {
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 25px;
        margin: 20px;
    }
    h3{
        font-size: 35px;
        margin: 20px;
    }
    p{
        font-size: 29px;
        margin: 20px;
    }
    img{
        height: 300px;
        width: 300px;
        border-radius: 300px;
    }
    button{
        font-size: 20px;
        margin: 20px;
    }

    footer{
        font-size: 40px;
    }
}
